/* Background colors */
.bg-cat1,
.bg-cat2,
.bg-cat3,
.bg-cat4,
.bg-cat5,
.bg-cat6,
.bg-cat7,
.bg-cat8,
.bg-cat9,
.bg-cat10,
.bg-cat11,
.bg-cat12,
.bg-cat13,
.bg-cat14,
.bg-cat15,
.bg-black {
  color: #f9f9f9 !important;
}

.bg-cat1 {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-cat2 {
  background-color: #EECEFF !important;
}

.bg-cat3 {
  background-color: #D6F4FF !important;
}

.bg-cat4 {
  background-color: #BAFFBA !important;
}

.bg-cat5 {
  background-color: #ECFFA3 !important;
}

.bg-cat6 {
  background-color: $light-blue !important;
}

.bg-cat7 {
  background-color: $green !important;
}

.bg-cat8 {
  background-color: $navy !important;
}

.bg-cat9 {
  background-color: $teal !important;
}

.bg-cat10 {
  background-color: $olive !important;
}

.bg-cat11 {
  background-color: $lime !important;
}

.bg-cat12 {
  background-color: $orange !important;
}

.bg-cat13 {
  background-color: $fuchsia !important;
}

.bg-cat14 {
  background-color: $purple !important;
}

.bg-cat15 {
  background-color: $maroon !important;
}

/* Text colors */
.text-cat2 {
  color: $red !important;
}

.text-cat3 {
  color: $yellow !important;
}

.text-cat4 {
  color: $aqua !important;
}

.text-cat5 {
  color: $blue !important;
}

.text-cat6 {
  color: $light-blue !important;
}

.text-cat7 {
  color: $green !important;
}

.text-cat8 {
  color: $navy !important;
}

.text-cat9 {
  color: $teal !important;
}

.text-cat10 {
  color: $olive !important;
}

.text-cat11 {
  color: $lime !important;
}

.text-cat12 {
  color: $orange !important;
}

.text-cat13 {
  color: $fuchsia !important;
}

.text-cat14 {
  color: $purple !important;
}

.text-cat15 {
  color: $maroon !important;
}