/* Background colors */
.bg-cat1,
.bg-cat2,
.bg-cat3,
.bg-cat4,
.bg-cat5,
.bg-cat6,
.bg-cat7,
.bg-cat8,
.bg-cat9,
.bg-cat10,
.bg-cat11,
.bg-cat12,
.bg-cat13,
.bg-cat14,
.bg-cat15,
.bg-black {
  color: #f9f9f9 !important;
}

.bg-cat1 {
  border-top: solid 10px $turquoise;
}

.bg-black {
  background-color: $black !important;
}

.bg-cat2 {
  border-top: solid 10px $green !important;
}

.bg-cat3 {
  border-top: solid 10px $blue !important;
}

.bg-cat4 {
  border-top: solid 10px $purple !important;
}

.bg-cat5 {
  border-top: solid 10px $dark-gray !important;
}

.bg-cat6 {
  border-top: solid 10px $dark-turquoise !important;
}

.bg-cat7 {
  border-top: solid 10px $dark-green !important;
}

.bg-cat8 {
  border-top: solid 10px $dark-blue !important;
}

.bg-cat9 {
  border-top: solid 10px $dark-purple !important;
}

.bg-cat10 {
  border-top: solid 10px $yellow !important;
}

.bg-cat11 {
  border-top: solid 10px $orange !important;
}

.bg-cat12 {
  border-top: solid 10px $red !important;
}

.bg-cat13 {
  border-top: solid 10px $dark-red !important;
}

.bg-cat14 {
  border-top: solid 10px $silver !important;
}

.bg-cat15 {
  border-top: solid 4px $dark-orange !important;
}

/* Text colors */
.text-cat2 {
  color: $red !important;
}

.text-cat3 {
  color: $yellow !important;
}

.text-cat4 {
  color: $blue !important;
}

.text-cat5 {
  color: $blue !important;
}

.text-cat6 {
  color: $blue !important;
}

.text-cat7 {
  color: $green !important;
}

.text-cat8 {
  color: $dark-blue !important;
}

.text-cat9 {
  color: $dark-gray !important;
}

.text-cat10 {
  color: $dark-green !important;
}

.text-cat11 {
  color: $green !important;
}

.text-cat12 {
  color: $orange !important;
}

.text-cat13 {
  color: $red !important;
}

.text-cat14 {
  color: $purple !important;
}

.text-cat15 {
  color: $dark-red !important;
}