/*
    Component: Small boxes
*/
.small-box {
  position: relative;
  display: block;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  margin-bottom: 15px;
  background-color: $white;

  > .inner {
    padding: 10px;
  }

  > .small-box-footer {
    position: relative;
    text-align: left;
    padding: 5px 10px;
    z-index: 10;
    text-decoration: underline;
    border-top: solid 1px $silver;
    word-spacing: 15px;
    


    &:hover {
      color: #fff;
      background: rgba(0, 0, 0, 0.15);
    }

}

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 25px 0;
    white-space: nowrap;
    padding: 0;
    text-overflow: ellipsis;
    padding-right: 90px;
    overflow: hidden;
    color: #404040;
  }

  p {
    font-size: 15px;
    /* essential */
    text-overflow: ellipsis;
    padding-right: 90px;
    white-space: nowrap;
    overflow: hidden;

    > small {
      display: block;
      color: #f9f9f9;
      font-size: 13px;
      margin-top: 5px;
    }
  }

  h3,
  p {
    z-index: 5px;
  }

  .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.15);
  }

  &:hover {
    text-decoration: none;
    color: #f9f9f9;
  }

  &:hover .icon {
    animation-name: tansformAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: tansformAnimation;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
  }
}

@keyframes tansformAnimation {
  from {
    font-size: 70px;
  }
  to {
    font-size: 80px;
  }
}

@-webkit-keyframes tansformAnimation {
  from {
    font-size: 70px;
  }
  to {
    font-size: 80px;
  }
}

@media screen and (max-width: 480px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}