/* Colors */
$turquoise: #1abc9c;
$green: #2ecc71;
$blue: #3498db;
$purple: #9b59b6;
$dark-gray: #34495e;
$dark-turquoise: #16a085;
$dark-green: #27ae60;
$dark-blue: #2980b9;
$dark-purple: #8e44ad;
$dark-blue2: #2c3e50;
$yellow: #f1c40f;
$orange: #e67e22;
$red: #e74c3c;
$light-gray: #95a5a6;
$light-orange: #f39c12;
$dark-orange: #d35400;
$dark-red: #c0392b;
$silver: #bdc3c7;
$gray: #7f8c8d;
$black: #222222;
$white: #fdfdfd;
$aqua: #1abc9c;

/* Anciennes couleurs à ne pas perdre

$gray2: #95a5a6;
$dark-gray2: #7f8c8d;
$black: #222222;
$red2: #c0392b;
$yellow2: #f1c40f;

$blue2: #2980b9;
$light-blue2: #3498db;
$ultralight-blue2: #72afd2;
$green2: #2ecc71;
$navy2: #2c3e50;
$teal2: #39cccc;
$olive2: #16a085;
$lime2: #01ff70;
$orange2: #f39c12;
$fuchsia2: #f012be;
$purple2: #8e44ad;
$maroon2: #85144b;
$almost-white2: #fdfdfd;
$white: #ffffff;
$light-gray2: #f9f9f9;
$almost-white: #ffffff; */

$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;

$online: $success;
$offline: $danger;
