/* Colors */
$gray: #eaeaec;
$dark-gray: #999999;
$black: #222222;
$red: #f56954;
$yellow: #f39c12;
$aqua: #00c0ef;
$blue: #428bca;
$light-blue: #3eabda;
$ultralight-blue: #72afd2;
$green: #00a65a;
$navy: #001f3f;
$teal: #39cccc;
$olive: #3d9970;
$lime: #01ff70;
$orange: #ff851b;
$fuchsia: #f012be;
$purple: #932ab6;
$maroon: #85144b;
$almost-white: #fdfdfd;
$white: #ffffff;
$light-gray: #f9f9f9;