$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

// bower:scss
@import "__variables.scss";

@import "__button.scss";
@import "__boxes.scss";
@import "__colors.scss";
@import "__navbar.scss";
@import "__small-boxes.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100%;
  background: $light-gray;
}

.jumbotron {
  background: none;

  h1 {
    font-family: 'Kaushan Script', cursive; 
  }

  .account {
    text-align: center;
  }
}

a {
  color: $light-blue;
}

.container {
  width: 100% !important;

  button {
    margin-bottom: 20px;
  }
}