/*********************************************************************************************************************/
/********************************************** Polices **************************************************************/
/*********************************************************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Alex+Brush);

@import url(http://fonts.googleapis.com/css?family=Sofia);


/*********************************************************************************************************************/
/***************************************** Règles générales **********************************************************/
/*********************************************************************************************************************/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    margin: 0px;
    color: black;
}

/*********************************************************************************************************************/
/***************************************** Grille ********************************************************************/
/*********************************************************************************************************************/

/* on va voir si on s'en sert vraiment

.col-1-7 {
    float: left;
    width: 14%;
}

.col-6-7 {
    float: left;
    width: 86%;
}
.col-1-2 {
    float: left;
    width: 50%;
}

*/

/*********************************************************************************************************************/
/******************************************* Page de login ***********************************************************/
/*********************************************************************************************************************/

header {
    margin-top: 12%;
    margin-bottom: 60px;
    font-family: 'Alex Brush';
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 1px 2px silver;
}

section {
    display: block;
    margin: 0px auto;
    width: 350px;

    p {
        text-align: right;
        clear: both;
        line-height: 20px;

        label {
            float: left;
            font-family: 'Sofia';
            font-size: 20px;
        }

        input {
            width: 150px;
            font-family: 'Arial';
        }

        a {
            display: block;
            float: right;
            font-size: 0.8em;
            color: gray;
            font-style: italic;
            margin-top: 3px;
        }
    }

    &.submit_1 {
        width: 52px;
        height: 40px;
        margin: 40px auto 0px auto;

        input {
            display: inline-block;
            vertical-align: top;
            width: 32px;
            height: 37px;
            border: none;
            cursor: pointer;
            margin: 0 10px;
        }

        input.validate {
            background: url(../images/tick.png) no-repeat;
        }
    }
}




/**** Voir si utile *****/

.typein input:valid {
    box-shadow: 0 0 2px 1px green;
}

.typein input:invalid {
    box-shadow: 0 0 2px 1px red;
}


/*********************************************************************************************************************/
/************************************ Barre de navigation horizontale  ***********************************************/
/*********************************************************************************************************************/

nav {
    margin: 0;
    background: url("../images/black_lozenge.png") #000000 repeat fixed;
    color: white;
    display: block;
    line-height: 60px;
    height: 60px;
    width: 100%;

    h1 {
        margin: 0px;
        padding-left: 15px;
        float: left;
        font-family: 'Alex Brush', cursive;
        font-weight: normal;
        font-size: 2.5em;
        width: 20%;
    }

    ul {
        margin: 0;
        display: inline-block;
        padding: 0;
        width: 80%;

        li {
            display: inline-block;
            margin: 0 30px;
            font-family: 'Sofia', cursive;
            font-size: 1.5em;
            width: 20%;
            float: right;

            a {
                text-decoration: none;
                color: white;
                &.active {

                }
            }
        }
    }
}

/*********************************************************************************************************************/
/************************************ Barre de navigation verticale  *************************************************/
/*********************************************************************************************************************/

aside {
    background: url("../images/light_grey.png") #C0C0C0 repeat fixed;
    color: black;
    padding-left: 15px;
    margin: 0px;
    font-family: 'Sofia';
    width: 20%;
    float:left;

    ul {
        list-style-type: none;
        margin-top: 0px;

        li{
            font-size: 1em;
        }

        label {
            padding-left: 5px;
        }
    }

    ol {
        list-style-type: none;
        margin-top: 0px;

        li{
            font-size: 1em;
        }

        label {
            padding-left: 10px;
        }
    }
    

    p {
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 1.2em;
    }

    a {
        text-decoration: none;
    }

}

/*********************************************************************************************************************/
/************************************ Liste des voeux  ***************************************************************/
/*********************************************************************************************************************/

main {
    width: 80%;
    float: left;

    div {
        width: 50%;
        float: left;
        padding-left: 20px;

        &:last-of-type {
            padding-right: 20px;
        }

        article {
            width: 100%;
            float: left;
            margin-top: 10px;
            border: 1px solid black;

            header {
                background-color: red;
                clear: both;
                font-family: 'Sofia';
                font-size: 1em;
                margin: 0px;
                border-bottom: 1px solid black;
                text-shadow: none;


            }

            h2 {
                clear: both;
                padding: 0 0 20px 20px;
                font: normal normal normal normal 1.5em normal  'Sofia'; 
                /* font-style / variant / weight / stretch / size / line-height / family */
                border-bottom: 1px solid black;
                margin-bottom: 0;
            }

            footer {
                display: flex; /* crée un contexte flex pour ses enfants */
                flex-direction: row; /* affichage horizontal */
                width: 100%;
                color: #fff;

                a {
                    flex: 1; /* occupe la largeur restante */
                    transition: flex .5s;
                    display: block;
                    padding: .3em .3em .3em 1.5em;
                    color: black;
                    text-decoration: none;
                    white-space: nowrap;
                    font-size: 0.8em;
                    background: url("../images/gray_jean.png") silver repeat fixed;

                    &:hover, &:focus {
                      flex: 2;
                    }

                    &:first-of-type {
                      background: url("../images/fabric_of_squares_gray.png") silver repeat fixed;
                    }
                  
                    &:last-of-type {
                      background: url("../images/furley_bg.png") silver repeat fixed;;
                    }
                    

                    
                }
            }

        }
    }
}

