{% extends 'SchWlBundle::layout.html.twig' %}

{% block nav_home_class %}active{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Fermez les yeux, et faites un voeu...</h1>

        <p class="lead">
            Vous savez ce que vous aimez, mais il est toujours délicat d'en parler à vos proches pour les inciter à vous
            offrir ces cadeaux.
        </p>
        <a class="btn btn-large btn-success" href="{{ path('sch_wl_wish_index') }}">Connectez-vous à la beta privée</a>
    </div>
{% endblock %}