{% extends 'SchWlBundle::base.html.twig' %}

{% block body %}
    <div class="container-narrow">
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li class="{% block nav_home_class %}{% endblock %}">
                    <a href="{{path('sch_wl_default_index')}}">Accueil</a>
                </li>
                <li class="{% block nav_about_class %}{% endblock %}">
                    <a href="{{path('sch_wl_default_about')}}">A propos</a>
                </li>
                <li class="{% block nav_contact_class %}{% endblock %}">
                    <a href="{{path('sch_wl_default_contact')}}">Contact</a>
                </li>
            </ul>
            <h3 class="muted">Make A Wish</h3>
        </div>
        <hr>
        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
        <hr>
        <div class="footer">
            <p>&copy; SchapSchap Team 2013</p>
        </div>
    </div>
{% endblock %}