{% extends 'SchWlBundle::authorized.html.twig' %}

{% block nav_wish_class %}active{% endblock %}

{% block content %}
    <div class="jumbotron">
        <!-- <h2>Ma Wishlist</h2> -->
        <p class="lead">Voici votre wishlist, n'hésitez pas à la mettre à jour au gré de vos envies !!!</p>

        <p><a class="btn btn-default btn-success" href="{{ path('sch_wl_wish_new') }}"><span
                        class="glyphicon glyphicon-plus"></span> Ajouter un voeu</a></p>
    </div>
    <div class="body-content">
        <div class="row">
            <div class="col-lg-6">
                {% for wish in entities %}
                    {% if loop.index0%2 == false %}
                        {% include "SchWlBundle:Wish:onewish.html.twig" %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-6">
                {% for wish in entities %}
                    {% if loop.index0%2 %}
                        {% include "SchWlBundle:Wish:onewish.html.twig" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
