{% extends 'SchWlBundle::authorized.html.twig' %}

{% block nav_wish_class %}active{% endblock %}

{% block content %}
Wishlist de {{app.user.username}}, cercles :
<ul>
{% for circle in app.user.circles %}
    <li>{{ circle.name }}</li>
{% endfor %}
</ul>
{% endblock %}